In [35]:
import mysql.connector

class dbhelper:
    def __init__(self, host, user, passwd, database):
        self.mydb = mysql.connector.connect(
          host=host,
          user=user,
          passwd=passwd,
          database=database,
          auth_plugin='mysql_native_password'
        )

    def addSingleData(self, sql, val):
        mycursor = self.mydb.cursor()
        mycursor.execute(sql, val)
        self.mydb.commit()
        
    def addData(self, sql, val):
        mycursor = self.mydb.cursor()
        mycursor.executemany(sql, val)
        self.mydb.commit()
    
    def getData(self, sql, val = None, dic = False):
        if val != None:
            adr = (val, )
            mycursor = self.mydb.cursor(dictionary=dic)
            mycursor.execute(sql, adr)
            myresult = mycursor.fetchall()
            return myresult
        else:
            mycursor = self.mydb.cursor(dictionary=dic)
            mycursor.execute(sql)
            myresult = mycursor.fetchall()
            return myresult
        
    def close(self):
        self.mydb.cursor().close()
        self.mydb.close()


#val = [(1, 1, 2, 3, 4, 5, 6, 7, 100, 10, 2, 10, "2012-10-03")]
    
#addData(val)

In [34]:
dbhelper('127.0.0.1', 'yso1983', '123456', 'lotto').getData( "SELECT * FROM lotto_info LIMIT 10;")

[(1,
  10,
  23,
  29,
  33,
  37,
  40,
  16,
  3681782000,
  863604600,
  0,
  0,
  datetime.date(2002, 12, 7)),
 (2,
  9,
  13,
  21,
  25,
  32,
  42,
  2,
  4904274000,
  0,
  1,
  2002006800,
  datetime.date(2002, 12, 14)),
 (3,
  11,
  16,
  19,
  21,
  27,
  31,
  30,
  4729342000,
  0,
  1,
  2000000000,
  datetime.date(2002, 12, 21)),
 (4,
  14,
  27,
  30,
  31,
  40,
  42,
  2,
  5271464000,
  1267147200,
  0,
  0,
  datetime.date(2002, 12, 28)),
 (5,
  16,
  24,
  29,
  40,
  41,
  42,
  3,
  6277102000,
  3041094900,
  0,
  0,
  datetime.date(2003, 1, 4)),
 (6,
  14,
  15,
  26,
  27,
  40,
  42,
  34,
  15305356000,
  0,
  1,
  6574451700,
  datetime.date(2003, 1, 11)),
 (7,
  2,
  9,
  16,
  25,
  26,
  40,
  42,
  12794890000,
  2600913000,
  0,
  0,
  datetime.date(2003, 1, 18)),
 (8,
  8,
  19,
  25,
  34,
  37,
  39,
  9,
  20751450000,
  7336896000,
  0,
  0,
  datetime.date(2003, 1, 25)),
 (9,
  2,
  4,
  16,
  17,
  36,
  39,
  14,
  73624020000,
  25803852000,
  0,
  0,
  datetime.date(2003, 2, 1)),
 (10,
  9,
  25,
  30,
  33,
  41,
  44,
  6,
  260856392000,
  0,
  13,
  6430437900,
  datetime.date(2003, 2, 8))]

In [29]:
dbhelper('127.0.0.1', 'yso1983', '123456', 'lotto').close()