In [6]:
import pymongo
import pandas as pd 
import matplotlib.pyplot as plt

myclient = pymongo.MongoClient("mongodb://localhost:27017/",
                  username='yso1983',
                 password='123456')

mydb = myclient["lotto"]

mycol = mydb["lotto_info"]

result = pd.DataFrame(mycol.find({},{ "_id":0, "drwtNo1":1,"drwtNo2":1,"drwtNo3":1,"drwtNo4":1,"drwtNo5":1,"drwtNo6":1,"bnusNo":1}))
result.index += 1
result

#mycol.drop()

     drwtNo6  drwtNo4  drwtNo5  bnusNo  drwtNo2  drwtNo3  drwtNo1
1         40       33       37      16       23       29       10
2         42       25       32       2       13       21        9
3         31       21       27      30       16       19       11
4         42       31       40       2       27       30       14
5         42       40       41       3       24       29       16
..       ...      ...      ...     ...      ...      ...      ...
952       41       24       33      38       12       22        4
953       42       27       37      34        9       22        7
954       41       28       30      32        9       26        1
955       33       26       29       8        9       23        4
956       41       21       25      40       11       20       10

[956 rows x 7 columns]